<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>

<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
</script>

</head>

<body>

	<div id="signinButton">
		<span class="g-signin"
		data-scope="openid email"
		data-clientid="824947109456-v82bovdf02jbke89lnrp4nh0apimpol0.apps.googleusercontent.com"
		data-redirecturi="postmessage"
		data-accesstype="offline"
		data-cookiepolicy="single_host_origin"
		data-callback="signInCallback"
		data-approvalprompt="force">
	</span>

	</div>
	<div id="result">

	</div>



	<script>
function signInCallback(authResult)
{
	if (authResult['code'])
	{
		$('#signinButton').attr('style','display:none');
		$.ajax({
			type:'POST',
			url:'/gconnect?state={{STATE}}',
			processData:false,
			contentType:'application/octet-stream; charset=utf-8',
			data:authResult['code'],
			success: function(result){
				if (result){
					$('#result').html('Login Successful!</br>'+result+'</br>Redirecting...')
					setTimeout(function(){
						window.location.href="/restaurant";},4000);

				}
				else if(authResult['error'])
				{
					console.log('There was an error: '+authResult['error']);
				}
				else
				{
					 $('#result').html('Failed to make a server-side call. Check your configuration and console.');
				}
			}
		})
	}
}
</script>

<script>

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '650103375196204',
       cookie     : true,
      xfbml      : true,
      version    : 'v2.2'
    });
  };

(function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

function sendTokenToServer(response){
	console.log(response)
	if(response.status!='connected')
	{
		response=FB.login();
		console.log(String(response.status))
	}
	console.log(String(response.status))
	console.log(response['authResponse'])
	authresponse = response['authResponse'];
	var access_token = authresponse['access_token'];
	console.log('Welcome! Fetching your token')
	console.log(access_token)
	FB.api('/me',function(response) {
		console.log('Successful login for: '+response.name);
		$.ajax({
			type:'POST',
			url:'/fbconnect?state={{STATE}}',
			processData:false,
			data : access_token,
			contentType:'application/octet-stream; charset=utf-8',
			success: function(result){
				if(result){
					$('#result').html('Login Successful</br>'+result+'</br>Redirecting...')
					setTimeout(function(){
						window.location.href = "/restaurant";
					},4000);
				}
				else
				{
					$("#result").html("Failed to make server-side call. Check your configuration and console.")
				}
			}
		});
	});
}
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    sendTokenToServer(response);
  });
}

	</script>


	<fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>
</body>
</html>